version: '3.7'
services:
  php-fpm:
    # image: php:7.3.7-fpm-alpine3.10
    build: ./images/php
    volumes:
      - type: bind
        source: ./www
        target: /var/www/
    ports:
      - "9000:9000"
  nginx:
    build: ./images/nginx
    volumes:
      - type: bind
        source: ./www
        target: /var/www
    ports:
      - "80:80"
    depends_on:
      - php-fpm
  mariadb-dev:
    build: ./images/mariadb
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: dev_db
      MYSQL_ROOT_PASSWORD: password
  mariadb-test:
    build: ./images/mariadb
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: test_db
      MYSQL_ROOT_PASSWORD: password
volumes:
  phpsocket: {}